    p {
        font-family: 'Quicksand', sans-serif;
        color: #000000;
        font-size: medium;
        text-align: left;
    }
    
    h1 {
        font-family: Arial, Helvetica, Verdana sans-serif;
        color: #e6e6e6;
        font-size: xx-large;
        text-align: left;
        padding: 20px;
        margin: 0px 30px 0px 0px;
    }
    
    h3 {
        font-family: Arial, Helvetica, Verdana sans-serif;
        color: #000000;
        font-size: xx-large;
        text-align: left;
        padding: 20px;
        margin: 0 15px 0px 0px;
    }
    
    nav {
        font-family: Arial, Helvetica, Verdana sans-serif;
        color: #e6e6e6;
        font-size: large;
        text-align: left;
        /*padding: 10px;*/
        margin: 0 0px 0px 0px;
    }
    
    h2 {
        font-family: Arial, Helvetica, Verdana sans-serif;
        color: #0000ff;
        font-size: larger;
    }
    
    footer {
        font-family: Arial, Helvetica, Verdana sans-serif;
        position: relative;
        color: #000000;
        font-size: x-small;
        padding: 30px;
    }
    
    .sidebar {
        float: right;
        width: 170px;
        margin-top: 90px;
    }

     /*img
    {
        width: 50%;
    }*/